---
permalink: "404.html"
---

{% extends "src/base.njk" %}

{% block head %}
<title>Nuestra Elección | Red Ciudadana</title>

{% endblock %}

{% block content %}
        <!-- Slider
		============================================= -->
		<section id="slider" class="slider-element bg-color">
			<div class="container pt-50">
				<div class="row h-100">
					<div class="col-lg-6 d-flex align-self-center flex-column pt-5 pb-0 py-lg-6 mb-0 my-lg-4">
						<h2 class="display-4 text-white" style="font-weight: 800">  Laboratorio Electoral: Nuestra Elección</h2>
						<br>
						<p class="text-white"> En estas elecciones, ¡La ciudadanía se informa, participa y genera cambios!
							Las elecciones son el momento en que se define el futuro de nuestro país y es fundamental que toda la ciudadanía tenga un voz y opinión en este proceso.
							<br><strong style="font-size:25px">¡Recuperemos #NuestraElección!</strong>
						</p>
						<br>
						<div>
							<a href="/empadronamiento/index.html"  class="button button-large border border-width-2 bg-alt2 py-2 rounded-1 fw-medium nott ls0 ms-0 ms-sm-1 h-op-09"><i class="icon-line-file-add"></i>Empadrónate</a>
							<a href="/novedades/index.html" class="button button-large button-border rounded-1 fw-medium nott bg-alt4 ls0 ms-0"><i class="icon-line-align-left"></i>Novedades</a>
						</div>
					</div>

					<div class="col-lg-6 d-flex align-self-end flex-column">
						<img src="/elementos/elementos_lab/HOME/NE-23.png" alt="Hero Image" style="z-index: 3;">
					</div>
				</div>
			</div>
			<!--div class="bg-alt py-5">
				<div class="container">
					<div class="d-flex">
						<h4 class="mb-0"><span class="counter counter-inherit fw-normal text-white"><i class="icon-line-users icon-fw"></i> <span class="color fw-semibold" data-from="100" data-to="12462" data-refresh-interval="150" data-speed="2000"></span> Members Registered.</span></h4>
						<h4 class="mb-0 ms-5"><span class="counter counter-inherit fw-normal text-white"><i class="icon-line-message-circle icon-fw"></i> <span class="color fw-semibold" data-from="100" data-to="340333" data-refresh-interval="100" data-speed="2000"></span> Posts Created.</span></h4>
					</div>
				</div>
			</div-->
		</section>

		<!-- Content
		============================================= -->
		<section id="content px-4">
			<div class="content-wrap">

		<!-- Nosotros
		============================================= -->

				<div class="container clearfix pt-100">
					<div class="heading-block center">
						<h2>Laboratorio Electoral: Nuestra Elección</h2>
						<span>Un proyecto de Red Ciudadana que busca contribuir al fortalecimiento y desarrollo del sistema electoral guatemalteco, mediante la implementación de tres ejes:</span>
					</div>

					<div class="row justify-content-center col-mb-50">
						<div class="col-sm-6 col-lg-4">
							<div class="feature-box media-box">
								<div class="fbox-media" >
									<img class="imageinicio m-auto" src="/elementos/elementos_lab/HOME/NE-25.png" alt="Why choose Us?">
								</div>
								<div class="fbox-content px-0 text-center">
									<h3 class="lower-case">Fortalecimiento de capacidades</h3>
									<p class="texto-intro">Procesos de formación en acceso a la información pública, datos abiertos e innovación, y documentos explicativos sobre el funcionamiento del sistema electoral y de partidos políticos</p>
								</div>
							</div>
						</div>

						<div class="col-sm-6 col-lg-4">
							<div class="feature-box media-box">
								<div class="fbox-media">
									<img class="imageinicio m-auto" src="/elementos/elementos_lab/HOME/NE-26.png" alt="Why choose Us?">
								</div>
								<div class="fbox-content px-0 text-center">
									<h3 class="lower-case">Investigación basada en datos</h3>
									<p class="texto-intro">Estamos comprometidos con la investigación y la práctica en la ciencia electoral a través de la recopilación y el análisis de datos de alta calidad.</p>
								</div>
							</div>
						</div>

						<div class="col-sm-6 col-lg-4">
							<div class="feature-box media-box">
								<div class="fbox-media">
									<img class="imageinicio m-auto" src="/elementos/elementos_lab/HOME/NE-27.png" alt="Why choose Us?">
								</div>
								<div class="fbox-content px-0 text-center">
									<h3 class="lower-case">Propuestas Ciudadanas</h3>
									<p class="texto-intro"> Al basar nuestro trabajo en datos y el método científico, nuestras recomendaciones apuntan a mejorar la práctica democrática para todos.</p>
								</div>
							</div>
						</div>
					</div>

				</div>

		<!-- Podcast
		============================================= -->

				<div class="section py-6 my-6" style="background-color: #46495F">
					{% if collections.podcastsHighlighted %}
					{% for podcast in collections.podcastsHighlighted | limit(1)%}
					<div class="container">
						<div class="row align-items-center col-mb-50">
							<!--div class="col-md-6">
								<img src="demos/forum/images/doc.svg" alt="Doc Image">
							</div-->
							<div class="col-md-12 text-white">
								<div class="row posts-md col-mb-30" style="align-items:center">
									
									<div class="entry col-sm-6 col-xl-6">
										<div class="grid-inner">
											<span class="subtitulo-podcast">Podcast</span>
											<h3 class="titulo-podcast">{{podcast.data.title}}</h3>
											<p class="texto-podcast">{{podcast.data.description}}</p>
											<!--div  class="boton-podcast"><a href="">Suscribirse ▼</a></div-->
										</div>
									</div>

									<div class="entry col-sm-6 col-xl-6">
										<div class="grid-inner">
											<iframe src="{{podcast.data.link}}" width="100%"
                							height="232" frameBorder="0" allowfullscreen=""
               								 allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>
					{% endfor %}
					{% endif %}
				</div>


		<!-- Eventos y Videos
		============================================= -->

				<div class="container my-4">
					<div class="row text-center mb-5" style="justify-content:space-between;align-items:flex-start">
						<!--div class="col-lg-6">
							<h3 class="display-4 fw-bolder mb-3">Publicaciones</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi rem, facilis nobis voluptatum est voluptatem accusamus molestiae eaque perspiciatis mollitia.</p>
						</div-->

						<div class="row posts-md col-mb-30 col-xl-9">
								

							<h2 class="font-bold text-4xl border-b-2 border-blue-500 mb-4 pb-4" style="text-align:left;margin:1rem 0">Eventos</h2>

							{% for evento in collections.eventos | reverse | limit(5) %}
					
				
							<a href="{{evento.url}}" class="flex border-b-2 pb-4 mb-4 text-current responsive">
							<img src="{{ evento.data.image }}" alt="Evento" class="w-36">
							<div class="pl-8 my-auto" style="text-align:left">
								<h5 class="font-bold text-lg">
								{{evento.data.title }}
								</h5>
								<span class="text-sm">
								{{evento.data.date | dateFormat('DD/MM/YYYY')}}
								</span><br>
								<span class="text-sm">
								{{evento.data.description}}
								</span>
							</div>
							</a>

							{% endfor %}

							<div class="mb-6" style="display:flex; justify-content:flex-end">
								<a href="/eventos/index.html">Más Eventos<i class="icon-arrow-right" style="margin-left:5px"></i></a>
							</div>		
				
						</div>

						<div class="row posts-md col-mb-30 col-xl-3">
							<h3 class="uppercase font-bold text-base tracking-wider my-auto mb-4 pb-4"style="text-align:left;margin:1rem 0">Videos</h3>

							{% for video in collections.videos | reverse | limit(4)%}
							<div class="entry ">
								<div class="grid-inner">
									<iframe width="560" height="315" src="{{video.data.link}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
									<p class="txt-video">{{video.data.description}}</p>
								</div>
								
							</div>
							{% endfor %}

							<div class="mb-6">
								<div style="display:flex; justify-content:flex-end">
								<a href="/videos/index.html">Más Videos<i class="icon-arrow-right" style="margin-left:5px"></i></a>
							</div>	
						</div>	
						

					</div>	
				</div>
			</div>

		

		<!-- Explicativos
		============================================= -->

			<!--div class="section py-6 my-6" style="background-color: #e8f0f9">
				<div class="content-wrap">
					<div class="container clearfix" >
						<h1 style="font-size:30px; font-weight:700; margin-bottom:30px">Explicativos</h1>

						<div class="row ">
							{% for explicativo in collections.explicativos | reverse %}
							<div class="col-md-4 col-lg-4 col-sm-12 " style="margin:10px 0!important">
								<a class="link_explicativo" href="{{explicativo.url}}" ><div class="cuadro_explicativo">
									<img width="12%" style="margin-right:25px" src="{{explicativo.data.icono_explicativo}}">
									<h2>{{explicativo.data.title}}</h2>
								</div></a>
							</div>
							{% endfor %}
							
						</div>
					</div>
				</div>
			</div-->

		<!-- Blogs y Podcasts
		============================================= -->
				
			
			<div class="container my-4">
				<div class="row text-center mb-5"  style="justify-content:space-evenly;align-items:flex-start">
					<!--div class="col-lg-6">
						<h3 class="display-4 fw-bolder mb-3">Publicaciones</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi rem, facilis nobis voluptatum est voluptatem accusamus molestiae eaque perspiciatis mollitia.</p>
					</div-->

					<div class="row posts-md col-mb-30">

						<h2 class="font-bold text-4xl border-b-2 border-blue-500 mb-4 pb-4" style="text-align:left;margin:1rem 0">Lo último</h2>
						<div class="row d-flex">
							{% for blog in collections.novedades | reverse | limit(3) %}
							<div class="col-md-4 col-lg-4 col-sm-12">
								<div class="cuadro_blog ">
									<a href="{{blog.url}}"><img src="{{ blog.data.image }}" alt="Evento" class="w-36"></a>
									<div class="px-4 py-4 text-left">
										<i class="fa-solid fa-calendar"></i><span class="text-sm">
										{{blog.data.date | dateFormat('DD/MM/YYYY')}}
										</span><br>
										<br>
										<h5 class="font-bold text-lg">
										{{blog.data.title }}
										</h5>
										
										<span class="text-sm">
										{{blog.data.description}}
										</span>
										
									</div>
									<a href="{{blog.url}}"><div class="px-4 pb-2 pt-2 text-left" style="border-top:#ccc 1px solid">
										<span>Ver más <i class="fa-solid fa-caret-right"></i></span>
									</div></a>

								</div>
							</div>
							{% endfor %}
						</div>
						<div class="mb-6" style="display:flex; justify-content:flex-end">
							<a href="/novedades/index.html">Más Contenido<i class="icon-arrow-right" style="margin-left:5px"></i></a>
						</div>

						
			
					</div>

					
					

				</div>	
			</div>


		
		<!-- Colaboraciones
		============================================= -->
		
			<div class="container my-4" >
				<div class="row justify-content-center text-center mb-5">
					<div class="col-lg-6" style="margin:3rem 0">
						<hP class=" mb-3">GRACIAS AL APOYO DE </P>
						<img style="margin:auto" class="filter" src="/elementos/ELEMENTOS/LOGOTIPO/NED.png" alt="Canvas Logo">
					</div>	
				</div>	
			</div>


		</section><!-- #content end -->
{% endblock %}

{% block body_javascripts %}
	
{% endblock %}