---
permalink: "/explicativos/index.html"
---

{% extends "src/base.njk" %}

{% block head %}
<title>Nuestra Elección | Explicativos</title>
{% endblock %}

{% block content %}

        <!-- Slider
		============================================= -->
		<section id="slider" class="slider-element" style="background:#f6bfc0">
			<div class="container" >
				<div class="row h-100">
					<div class="col-md-6 align-self-left left pt-5 pb-0 py-lg-6 mb-0 my-lg-4" style="padding-bottom:0!important;margin-bottom:0!important">
						<img data-animate="fadeInLeft" data-delay="800" src="/elementos/NUBE_01.png">
					</div>
					<div class="col-md-6 align-self-right right pt-5 pb-0 py-lg-6 mb-0 my-lg-4" style="padding-bottom:0!important;margin-bottom:0!important;text-align:end">
						<img data-animate="fadeInLeft" data-delay="800" src="/elementos/NUBE_03.png">
					</div>
					
					<div class="align-self-center center  pb-0  mb-0 my-lg-4">
						<h1  style="font-size:35px; font-weight:700">Explicativos del sistema electoral</h1>
						<h3 style="font-size:25px!important; font-weight:300">Conoce más sobre sobre el funcionamiento <br>del sistema electoral y de partidos políticos.</h3>
					</div>


					<div id="nub1" class="col-md-6 align-self-left left" style="padding-bottom:0!important;margin-bottom:0!important">
						<img data-animate="fadeInRight" data-delay="800" style="margin: -80px 200px 0;" src="/elementos/NUBE_04.png">
					</div>
					<div id="nub2" class="col-md-6 align-self-right right " style="padding-bottom:0!important;margin-bottom:0!important;text-align:end">
						<img data-animate="fadeInRight" data-delay="800" style="margin: -150px 335px 0;" src="/elementos/NUBE_02.png">
					</div>

					<style>

					#nube1 {
						animation-duration: 5s;
						//animation-iteration-count:infinite;
						animation-name: slidein;
					}

						@keyframes slidein {
						from {
							margin-left: -50%;
						}

						to {
							margin-left: 0%;

						}
					}

					#nube2 {
						animation-duration: 9s;
						//animation-iteration-count:infinite;
						animation-name: slidein3;
					}

						@keyframes slidein3 {
						from {
							margin-left: 150%;
						}

						to {
							margin-left: 0%;

						}
					}

					#nube3 {
						animation-duration: 5s;
						//animation-iteration-count:infinite;
						animation-name: slidein2;
					}

						@keyframes slidein2 {
						from {
							margin-left: -100%;
						}

						to {
							margin-left: 200px;

						}
					}

					#nube4 {
						animation-duration: 8s;
						//animation-iteration-count:infinite;
						animation-name: slidein4;
					}

						@keyframes slidein4 {
						from {
							margin-left: 200%;
						}

						to {
							margin-left: 200px;

						}
					}

					</style>
				</div>
			</div>
			<div class="w-100">
				<img src="/elementos/elementos_lab/OTROS SECCIONES ELEMENTOS/OTROS SECCIONES ELEMENTOS/SLIDER/ne20.png">
			</div>
		</section>

		<!-- Content
		============================================= -->
		<section id="content" style="background:#073350">

            <!-- Explicativos
		============================================= -->

			<div class="section py-6 m-0" style="background-color: #e8f0f9">
				<div class="content-wrap">
					<div class="container clearfix" >
						<h1 style="font-size:30px; font-weight:700; margin-bottom:30px">Explicativos</h1>

						<div class="row ">
							{% for explicativo in collections.explicativos | reverse %}
							<div class="col-md-4 col-lg-4 col-sm-12 " style="margin:10px 0!important">
								<a class="link_explicativo" href="{{explicativo.url}}" ><div class="cuadro_explicativo">
									<img width="12%" style="margin-right:25px" src="{{explicativo.data.icono_explicativo}}">
									<h2>{{explicativo.data.title}}</h2>
								</div></a>
							</div>
							{% endfor %}
							
						</div>
					</div>
				</div>
			</div>

		</section><!-- #content end -->

{% endblock %}