---
pagination:
  data: collections.publicaciones
  size: 6
  alias: list
  reverse: true
permalink: "publicaciones/{% if pagination.pageNumber > 0 %}pagina-{{ pagination.pageNumber + 1 }}/{% endif %}index.html"
---

{% extends "src/base.njk" %}

{% block head %}
<title>Nuestra Elección | Publicaciones</title>
{% endblock %}

{% block content %}

        <!-- Content
		============================================= -->
		<section id="content">
			<div class="content-wrap">

                <!-- event-area-start -->
                <div class="event-area pt-60 pb-130">
                    <div class="container">

                        <div class="container clearfix">
                            <div class="heading-block center">

                                <img style="margin:2% auto"  src="/elementos/ELEMENTOS/ICONOS/02.png" alt="Canvas Logo">

                                <h2>Publicaciones</h2>
                                <span>Built with passion &amp; intuitiveness in mind. Canvas is a masterclass piece of work presented to you.</span>
                            </div>
                        </div>

                        <div class="row d-flex justify-content-center">
                            <div class="col-lg-8">
                                {% if list%}
                                {% for item in list%}
                                <a href="{{item.url}}" class="flex border-b-2 pb-4 mb-4 text-current responsive">
                                <img src="{{ item.data.image }}" alt="Evento" class="w-36">
                                <div class="pl-8 my-auto" style="text-align:left">
                                    <h5 class="font-bold text-lg">
                                    {{item.data.title }}
                                    </h5>
                                    <span class="text-sm">
                                    {{item.data.date | dateFormat('DD/MM/YYYY')}}
                                    </span><br>
                                    <span class="text-sm">
                                    {{item.data.description}}
                                    </span>
                                </div>
                                </a>
                                {% endfor %}
                                {% endif %}

                                <div class="d-flex justify-content-center">
                                    {% if pagination.href.previous %}
                                    <div class="mx-4">
                                        {% if pagination.href.previous %}<a href="{{ pagination.href.previous }}">← Iniciativas más recientes</a>{% else %}←  Nuevos blog{% endif %}
                                    </div>
                                    {% endif %}
                                    {% if pagination.href.next %}
                                    <div class="mx-4">
                                        {% if pagination.href.next %}<a href="{{ pagination.href.next }}">Iniciativas anteriores →</a>{% else %}Blog anteriores →{% endif %}
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                    </div>
                </div>


            </div>
            <!-- event-area-end -->

		</section><!-- #content end -->

{% endblock %}