{% extends "src/base.njk" %}

{% block head %}
<title>{{ title }}</title>
{% endblock %}

{% block content %}


        <!-- Slider
		============================================= -->
		<section id="slider" class="slider-element" style="background-image: url('{{slider}}');backgorund-size:cover">
			<div class="container">
				<div class="row h-100 center align-self-center flex-column pt-5 pb-0 py-lg-6 mb-0 my-lg-4" style="padding:0 20%">
                    <h1 class="text-white" style="font-size:30px; font-weight:700">{{tslider}}</h1>
                    <br>
                    <p class="text-white">{{txtslider}}</p>
				</div>
			</div>
		</section>
        

        <!-- Content
		============================================= -->
        <style>
        
        ::-webkit-scrollbar {
        width: 10px;
        }

        /* Track */
        ::-webkit-scrollbar-track {
        background: #f1f1f1; 
        }
        
        /* Handle */
        ::-webkit-scrollbar-thumb {
        background: #02324f; 
        }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
        background: #3385C7; 
        }
        
        </style>

        <!-- Content
		============================================= -->

		<section id="content" class="w-100">
            <div class="row w-100 m-0">
                <!--COLUMNA 1-->
                <div class="col-lg-6 col-sm-12 Content_F" style="padding:0!important">
                    
                    <div class="container clearfix  Flipped" style="height:780px;overflow-y:scroll;background:#E8F0FA">
                        <div class="heading-block center pt-5 pb-0 py-lg-6 Content_F">

                            <img style="margin:2% auto; width:100px"  src="{{iseccionA1}}" alt="Canvas Logo">

                            <h2>{{tseccionA1}}</h2>
                            <span class="contenido-markdowit">{{ seccionA1 | rmj | safe }}</span>
                        </div>
                    </div>
                    
                    
                </div>
                <!--COLUMNA 2-->
                <div class="col-lg-6 col-sm-12 d-flex justify-content-center p-0" style="overflow-y:scroll;overflow-x:hidden; background:#fff; align-items:center">
                   <span class="audio-visuales">{{ seccionB1 | rmj | safe }}</span>
                </div>
            </div>
		</section><!-- #content end -->

        <!-- Content
		============================================= -->

		<section id="content" class="w-100">
            <div class="row w-100 m-0 Content_F">
                <!--COLUMNA 2-->
                <div class="col-lg-6 col-sm-12 d-flex justify-content-center p-0  Flipped" style="overflow-y:scroll;overflow-x:hidden;background:#fff; align-items:center">
                    <div class="Content_F audio-visuales">
                        <span class="audio-visuales">{{ seccionB2 | rmj | safe }}</span>
                    </div>
                </div>
                <!--COLUMNA 1-->
                <div class="col-lg-6 col-sm-12" style="padding:0!important">
                    
                    <div class="container clearfix" style="height:780px;overflow-y:scroll;background-color:#E8F0FA">
                        <div class="heading-block center pt-5 pb-0 py-lg-6" >

                            <img style="margin:2% auto; width:100px"  src="{{iseccionA2}}" alt="Canvas Logo">

                            <h2>{{tseccionA2}}</h2>
                            <span class="contenido-markdowit">{{ seccionA2 | rmj | safe }}</span>
                        </div>
                    </div>
                    
                    
                </div>
                
            </div>
		</section><!-- #content end -->

        <!-- Content
		============================================= -->

		<section id="content" class="w-100">
            <div class="row w-100 m-0">
                <!--COLUMNA 1-->
                <div class="col-lg-6 col-sm-12 Content_F" style="padding:0!important">
                    
                    <div class="container clearfix Flipped" style="height:780px;overflow-y:scroll;background:#E8F0FA">
                        <div class="heading-block center pt-5 pb-0 py-lg-6 Content_F"  style="text-align:end">

                            <img style="margin:2% auto; width:100px"  src="{{iseccionA3}}" alt="Canvas Logo">

                            <h2>{{tseccionA3}}</h2>
                            <span class="contenido-markdowit">{{ seccionA3 | rmj | safe }}</span>
                        </div>
                    </div>
                    
                    
                </div>
                <!--COLUMNA 2-->
                <div class="col-lg-6 col-sm-12 d-flex justify-content-center p-0" style="overflow-y:scroll;overflow-x:hidden; background:#fff;align-items:center">
                    <span class="audio-visuales">{{ seccionB3 | rmj | safe }}</span>                 
                </div>
            </div>
		</section><!-- #content end -->

        <!-- Content
		============================================= -->

		<section id="content" class="w-100">
            <div class="row w-100 m-0 Content_F">
                <!--COLUMNA 2-->
                <div class="col-lg-6 col-sm-12 d-flex justify-content-center p-0 Flipped" style="overflow-y:scroll;overflow-x:hidden;background:#fff; align-items:center">
                    <div class="Content_F audio-visuales">
                        <span class="audio-visuales">{{ seccionB4 | rmj | safe }}</span>
                    </div>
                    
                </div>
                <!--COLUMNA 1-->
                <div class="col-lg-6 col-sm-12" style="padding:0!important">
                    
                    <div class="container clearfix" style="height:780px;overflow-y:scroll;;background:#E8F0FA" >
                        <div class="heading-block center pt-5 pb-0 py-lg-6">

                            <img style="margin:2% auto; width:100px"  src="{{iseccionA4}}" alt="Canvas Logo">

                            <h2>{{tseccionA4}}</h2>
                            <span class="contenido-markdowit">{{ seccionA4 | rmj | safe }}</span>
                        </div>
                    </div>
                    
                    
                </div>
                
            </div>
		</section><!-- #content end -->       

        <!-- Conclusion
		============================================= -->
		<section id="slider" class="slider-element" style="background-image: url('{{slider}}');backgorund-size:cover">
			<div class="container">
				<div class="row h-100 center align-self-center flex-column pt-5 pb-0 py-lg-6 mb-0 my-lg-4" style="padding:0 20%">
                    <h1 class="text-white" style="font-size:30px; font-weight:700">Conclusión</h1>
                    <br>
                    <p class="text-white">{{conclusion}}</p>

                    
				</div>
			</div>
		</section>
            
{% endblock %}


{% block body_javascripts %}
    <script>
    	var myVar;

		function myFunction() {
		myVar = setTimeout(showPage, 5000);
		}

    </script>
{% endblock %}